<%= form_for(@website, url: website_path(@website), method: :patch) do |form| %>
  <div id="error_explanation">
    <ul>
      <% @website.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>

    <!-- handle image  -->
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>

    <!-- handle image  -->
  </div>

  <div class="form-group">
    <%= form.label :logo %>
    <%= form.file_field :logo, id: "inputLogoWebsite", class: "form-control" %>

    <!-- handle image  -->
  </div>

  <div class="form-group">
    <%= form.label :icon %>
    <%= form.file_field :icon, id: "inputLogoWebsite", class: "form-control" %>

    <!-- handle image  -->
  </div>
  <div class="button-create">
    <%= form.submit "Cập nhật", class: "btn btn-outline-primary" %>
  </div>
<% end %>
