<div class="container" id="create-new-record">
  <h2>Sửa repo</h2>

  <%= form_for(@repo, url: superadmin_repo_path(@repo), method: :patch) do |form| %>
    <div id="error_explanation">
      <ul>
        <% @repo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>

    <div class="form-group">
      <%= form.label :path %>
      <%= form.text_field :path, disabled: 'true', class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :git_remote %>
      <%= form.text_field :git_remote, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :vercel_domain %>
      <%= form.text_field :vercel_domain, class: "form-control" %>
    </div>

    <div class="button-create">
      <%= form.submit "Cập nhật", class: "btn btn-outline-primary" %>
      <%= link_to "<button class='btn btn-info'>Quay lại list</button>".html_safe, superadmin_repos_path %>
    </div>
  <% end %>
</div>
